# <p style = "font-size : 42px; color : #000000 ; font-family : 'Oregon'; text-align : center; background-color : #dba514; border-radius: 5px 5px;"><strong>Hotel Booking Cancellation Prediction</strong></p>

<p align="center">
  <img style = "border:5px solid #ffb037;" src="https://5.imimg.com/data5/EF/GO/MY-17287433/hotel-bookings-500x500.jpg" alt="Project Banner" width="1000"/>
</p>

### <p style = "font-size : 25px; color : #ff0099; font-family : 'Comic Sans MS'; "><strong>Problem Statement</strong></p>

<p style = "font-size : 16px; color : #ff9900; font-family : 'Comic Sans MS';">
    <strong>
        Problem: Client wants to reduce the cancellations of hotel bookings.
        <br>Solution: Using EDA techniques we have to find relation between features, hidden patterns and actionable insights from data.
        <br>Using machine learning algorithms we have to predict cancellations and implement targeted marketing strategies.
    </strong>
</p>

### <p style = "font-size : 25px; color : #ff0099; font-family : 'Comic Sans MS'; "><strong>About Data</strong></p>

<p style = "font-size : 16px; color : #ff9900; font-family : 'Comic Sans MS';">
    <strong>
        The data includes detailed information on hotel bookings, covering customer demographics, booking patterns, and reservation specifics. 
        <br>Key attributes include booking status, stay duration, guest count, booking channel, room assignment, and any special requests. 
        <br>It is suitable for analyzing booking trends, customer behaviors, and factors influencing cancellations and modifications.
    </strong>
</p>

## <p style = "font-size : 25px; color : #ff0099; font-family : 'Comic Sans MS'; "><strong>Data Collection</strong></p>

<p style = "font-size : 16px; color : #ff9900; font-family : 'Comic Sans MS';">
    <strong>
        The Hotel booking data is stored in mysql database we will fetch the data from the database
    </strong>
</p>

### <a id = '0.1'></a>
<p style = "font-size : 40px; color : #f9858b ; font-family : 'Calibri'; text-align : center; background-color : #bdfff6; border-radius: 5px 5px;"><strong>Importing Libraries</strong></p>

In [16]:
import warnings
warnings.filterwarnings("ignore")

# database connection
from sqlalchemy import create_engine

# data manipulation
import pandas as pd
import numpy as np

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from folium.plugins import HeatMap

# style
plt.style.use('fivethirtyeight')
%matplotlib inline
pd.set_option('display.max_columns', 40)

### <p style = "font-size : 25px; color : #ff0099; font-family : 'Comic Sans MS'; "><strong>Load Dataset</strong></p>

In [3]:
engine = create_engine("mysql+mysqlconnector://projects:AIMLprojects1@127.0.0.1:3306/projects_db")
conn = engine.connect()

In [4]:
query = "SELECT * FROM hotel_booking"

In [9]:
df = pd.read_sql(query, engine)
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,,,0,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,,,0,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,,,0,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,,0,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,,0,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

### <p style = "font-size : 25px; color : #ff0099; font-family : 'Comic Sans MS'; "><strong>Look into Data</strong></p>

In [20]:
df.shape

(119386, 36)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119386 entries, 0 to 119385
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119386 non-null  object
 1   is_canceled                     119386 non-null  int64
 2   lead_time                       119386 non-null  int64
 3   arrival_date_year               119386 non-null  int64
 4   arrival_date_month              119386 non-null  object
 5   arrival_date_week_number        119386 non-null  int64
 6   arrival_date_day_of_month       119386 non-null  int64
 7   stays_in_weekend_nights         119386 non-null  int64
 8   stays_in_week_nights            119386 non-null  int64
 9   adults                          119386 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119386 non-null  int64
 12  meal                            119386 non-null  object
 13  country                         119386 non-null  object
 14  market_segment                  119386 non-null  object
 15  distribution_channel            119386 non-null  object
 16  is_repeated_guest               119386 non-null  int64
 17  previous_cancellations          119386 non-null  int64
 18  previous_bookings_not_canceled  119386 non-null  int64
 19  reserved_room_type              119386 non-null  object
 20  assigned_room_type              119386 non-null  object
 21  booking_changes                 119386 non-null  int64
 22  deposit_type                    119386 non-null  object
 23  agent                           119386 non-null  object
 24  company                         119386 non-null  object
 25  days_in_waiting_list            119386 non-null  int64
 26  customer_type                   119386 non-null  object
 27  adr                             119386 non-null  float64
 28  required_car_parking_spaces     119386 non-null  int64
 29  total_of_special_requests       119386 non-null  int64
 30  reservation_status              119386 non-null  object
 31  reservation_status_date         119386 non-null  object
 32  name                            119386 non-null  object
 33  email                           119386 non-null  object
 34  phone-number                    119386 non-null  object
 35  credit_card                     119386 non-null  object
dtypes: float64(2), int64(16), object(18)
memory usage: 32.8+ MB

In [18]:
# Summary of Numrical features
df.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119386.0,0.370395,0.482913,0.00,0.00,0.00,1.0,1.0
lead_time,119386.0,104.014801,106.863286,0.00,18.00,69.00,160.0,737.0
arrival_date_year,119386.0,2016.156593,0.707456,2015.00,2016.00,2016.00,2017.0,2017.0
arrival_date_week_number,119386.0,27.165003,13.605334,1.00,16.00,28.00,38.0,53.0
arrival_date_day_of_month,119386.0,15.798553,8.780783,1.00,8.00,16.00,23.0,31.0
stays_in_weekend_nights,119386.0,0.927605,0.998618,0.00,0.00,1.00,2.0,19.0
stays_in_week_nights,119386.0,2.500310,1.908289,0.00,1.00,2.00,3.0,50.0
adults,119386.0,1.856390,0.579261,0.00,2.00,2.00,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.00,0.0,10.0
babies,119386.0,0.007949,0.097438,0.00,0.00,0.00,0.0,10.0
is_repeated_guest,119386.0,0.031913,0.175770,0.00,0.00,0.00,0.0,1.0
previous_cancellations,119386.0,0.087121,0.844350,0.00,0.00,0.00,0.0,26.0
previous_bookings_not_canceled,119386.0,0.137102,1.497462,0.00,0.00,0.00,0.0,72.0
booking_changes,119386.0,0.221131,0.652315,0.00,0.00,0.00,0.0,21.0
days_in_waiting_list,119386.0,2.321227,17.595011,0.00,0.00,0.00,0.0,391.0
adr,119386.0,101.833541,50.534664,-6.38,69.29,94.59,126.0,5400.0
required_car_parking_spaces,119386.0,0.062520,0.245295,0.00,0.00,0.00,0.0,8.0
total_of_special_requests,119386.0,0.571340,0.792798,0.00,0.00,0.00,1.0,5.0

In [19]:
# Summary of categorical features
df.describe(include='object').T

                          count  unique                  top    freq
hotel                    119386       2           City Hotel   79326
arrival_date_month       119386      12               August   13873
meal                     119386       5                   BB   92306
country                  119386     178                  PRT   48586
market_segment           119386       7            Online TA   56476
distribution_channel     119386       5                TA/TO   97870
reserved_room_type       119386      10                    A   85994
assigned_room_type       119386      12                    A   74053
deposit_type             119386       3           No Deposit  104637
agent                    119386     334                  9.0   31960
company                  119386     353                       112589
customer_type            119386       4            Transient   89613
reservation_status       119386       3            Check-Out   75166
reservation_status_date  119386     926           2015-10-21    1461
name                     119386   81501      Michael Johnson      48
email                    119386  115885  Michael.C@gmail.com       6
phone-number             119386  119386         669-792-1661       1
credit_card              119386    9000     ************4923      28

### <p style = "font-size : 25px; color : #ff0099; font-family : 'Comic Sans MS'; "><strong>Explore Data</strong></p>

In [21]:
# define numerical & categorical columns
numeric_features = [_ for _ in df.columns if df[_].dtype != 'O']
categorical_features = [_ for _ in df.columns if df[_].dtype == 'O']

# print columns
print(f'We have {len(numeric_features)} numerical features : {numeric_features}')
print(f'\nWe have {len(categorical_features)} categorical features : {categorical_features}')

We have 18 numerical features : ['is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces', 'total_of_special_requests']

We have 18 categorical features : ['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'agent', 'company', 'customer_type', 'reservation_status', 'reservation_status_date', 'name', 'email', 'phone-number', 'credit_card']

In [22]:
# proportion of count data on categorical columns
for col in categorical_features:
    print(df[col].value_counts(normalize=True) * 100)
    print('- ' * 50)

hotel
City Hotel      66.444977
Resort Hotel    33.555023
Name: proportion, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
arrival_date_month
August       11.620290
July         10.605096
May           9.876367
October       9.347830
April         9.288359
June          9.162716
September     8.801702
March         8.203642
February      6.757911
November      5.690785
December      5.679058
January       4.966244
Name: proportion, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
meal
BB           77.317273
HB           12.114486
SC            8.920644
Undefined     0.979177
FB            0.668420
Name: proportion, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
country
PRT    40.696564
GBR    10.159483
FRA     8.723803
ESP     7.176721
DEU     6.103731
         ...
DJI     0.000838
BWA     0.000838
HND     0.000838
VGB     0.000838
NAM     0.000838
Name: proportion, Length: 178, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
market_segment
Online TA        47.305379
Offline TA/TO    20.286298
Groups           16.594073
Direct           10.558189
Corporate         4.435193
Complementary     0.622351
Aviation          0.198516
Name: proportion, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
distribution_channel
TA/TO        81.977786
Direct       12.266932
Corporate     5.592783
GDS           0.161660
Undefined     0.000838
Name: proportion, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
reserved_room_type
A    72.030221
D    16.083125
E     5.473841
F     2.426583
G     1.753975
B     0.933108
C     0.780661
H     0.503409
P     0.010051
L     0.005026
Name: proportion, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
assigned_room_type
A    62.028211
D    21.210192
E     6.538455
F     3.141909
G     2.138442
C     1.989345
B     1.808420
H     0.596385
I     0.304056
K     0.233696
P     0.010051
L     0.000838
Name: proportion, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
deposit_type
No Deposit    87.645955
Non Refund    12.218351
Refundable     0.135694
Name: proportion, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
agent
9.0      26.770308
         13.685022
240.0    11.661334
1.0       6.023319
14.0      3.048096
           ...
280.0     0.000838
285.0     0.000838
289.0     0.000838
265.0     0.000838
497.0     0.000838
Name: proportion, Length: 334, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
company
         94.306703
40.0      0.776473
223.0     0.656693
67.0      0.223644
45.0      0.209405
           ...
32.0      0.000838
11.0      0.000838
487.0     0.000838
101.0     0.000838
376.0     0.000838
Name: proportion, Length: 353, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
customer_type
Transient          75.061565
Transient-Party    21.040993
Contract            3.414136
Group               0.483306
Name: proportion, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
reservation_status
Check-Out    62.960481
Canceled     36.028513
No-Show       1.011006
Name: proportion, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
reservation_status_date
2015-10-21    1.223762
2015-07-06    0.674283
2016-11-25    0.661719
2015-01-01    0.639103
2016-01-18    0.523512
                ...
2015-02-27    0.000838
2015-04-25    0.000838
2015-03-11    0.000838
2015-06-14    0.000838
2015-02-12    0.000838
Name: proportion, Length: 926, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
name
Michael Johnson      0.040206
Robert Smith         0.040206
Michael Smith        0.039368
John Smith           0.038530
Christopher Smith    0.036855
                       ...
Jimmy Griffin        0.000838
Colleen Kelly        0.000838
Lucas Young          0.000838
Brendan Martinez     0.000838
Ariana Michael       0.000838
Name: proportion, Length: 81501, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
email
Michael.C@gmail.com              0.005026
David.M@zoho.com                 0.004188
Ashley_W@yahoo.com               0.004188
James.M@mail.com                 0.004188
JSmith@gmail.com                 0.004188
                                   ...
Carrie_Walker@yahoo.com          0.000838
Hamilton_Willie@mail.com         0.000838
Potter.Charles@protonmail.com    0.000838
Ronald_Wallace@protonmail.com    0.000838
Ariana_M@xfinity.com             0.000838
Name: proportion, Length: 115885, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
phone-number
669-792-1661    0.000838
759-544-4151    0.000838
158-803-0192    0.000838
446-228-8858    0.000838
325-224-7726    0.000838
                  ...
783-942-7089    0.000838
425-944-8128    0.000838
895-951-9632    0.000838
698-892-6790    0.000838
422-804-6403    0.000838
Name: proportion, Length: 119386, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
credit_card
************4923    0.023453
************3627    0.023453
************3793    0.022616
************9864    0.022616
************3972    0.022616
                      ...
************1462    0.002513
************5337    0.002513
************7959    0.002513
************4916    0.001675
************9283    0.001675
Name: proportion, Length: 9000, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

<p style = "font-size : 16px; color : #ff9900; font-family : 'Comic Sans MS';">
    <strong>
        Insights:
    </strong>
</p>