In [4]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
from evidently.dashboard import Dashboard
from evidently.tabs import DataDriftTab, CatTargetDriftTab
from evidently.model_profile import Profile
from evidently.profile_sections import DataDriftProfileSection

from sklearn.model_selection import train_test_split

from sqlalchemy import create_engine

In [ ]:
engine = create_engine("MYSQL_ENGINE_URL")

In [6]:
conn = engine.connect()

In [7]:
query = "SELECT * FROM hotel_booking"

In [8]:
data = pd.read_sql(query, engine)
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

## Data Drift Dashboard

In [9]:
data.shape

(119390, 36)

In [16]:
data = data.drop(['name', 'email', 'phone-number', 'credit_card'], axis=1)

In [17]:
reference, current = train_test_split(data, test_size=0.2)

In [21]:
data_drift_dashboard = Dashboard(tabs=[DataDriftTab()])

In [22]:
data_drift_dashboard.calculate(reference, current)

In [23]:
data_drift_dashboard.save('HotelBooking_data_drift_dashboard.html')